/*   -- Ciemny motyw do plemion --   */


/*by: alexknoxx.com edited by carving85*/

body {
    color: #d5d5d5!important;
    background-image: url(https://i.imgur.com/2MhHB4E.jpg) !important;
}

hr {
    border-bottom: 1px solid #555!important;
    border-top: 1px solid #555!important;
}

.top_shadow {
    background: #666!important;
}

th,
.vis>h4 {
    border-radius: 5px!important;
    box-shadow: 1px 1px 20px #000!important;
    color: #999!important;
    background-image: url(http://images.orkut.com/orkut/photos/OQAAAGjCh1OQksKX_V4niIaFuum9FRJ9HjZKVtc1xqYsFaKScS7UwxO-GQFkPj9abVyJSEGOdNX_f8zghkVhmrgy8j0Am1T1UGyNbVn476HmInjGG81NZnrR_z5a.jpg) !important;
    background-color: transparent !important;
}

.vis td,
.vis_item {
    color: #bbb!important;
    background: #222!important;
}

h2 {
    color: #cccccc!important;
}

a {
    color: #d0d0d0!important;
}

a:hover {
    color: #f1f1f1!important;
    text-shadow: 1px 1px 2px aqua!important;
}

.post {
    background: #111!important;
}

.igmline {
    background: #333!important;
}

.maincell {
    background: #111!important;
}

.header-border .firstcell,
.icon-box,
.box-item {
    color: #fff!important;
    border: solid 1px #555!important;
    padding: 3px!important;
    background: #333!important;
}

.quest {
    background-color: #111!important;
    border: 1px solid #333!important;
}

.report_transparent_overlay {
    background-image: none!important;
    box-shadow: 1px 1px 50px #000 inset !important;
}

#content_value table {
    border: none !important;
}

#mapCoords {
    background-color: #000!important;
}

.server_info {
    color: #fff!important;
    text-shadow: 1px 1px 2px aqua !important;
}


/*layout*/

.content-border {
    background: #111!important;
    border: solid 1px #666!important;
}

#main_layout .bg_left {
    background: #111!important;
}

#main_layout .bg_bottomleft {
    background: #111!important;
}

#main_layout .bg_bottomcenter {
    background: #111!important;
}

#main_layout .bg_bottomright {
    background: #111!important;
}

#main_layout .bg_right {
    background: #111!important;
}

#main_layout .bg_leftborder {
    background: #111!important;
}

.server_info {
    background: #111!important;
}

#main_layout .bg_rightborder {
    background: #111!important;
}

#footer,
#inline_popup_menu {
    background-image: url(http://images.orkut.com/orkut/photos/OQAAAGjCh1OQksKX_V4niIaFuum9FRJ9HjZKVtc1xqYsFaKScS7UwxO-GQFkPj9abVyJSEGOdNX_f8zghkVhmrgy8j0Am1T1UGyNbVn476HmInjGG81NZnrR_z5a.jpg) !important;
    background-color: transparent !important;
}


/*fim - layout*/


/*premium*/

#quickbar_inner .bottomborder .main,
.quickbar,
.topborder .main,
#quickbar_inner .left,
#quickbar_inner .right {
    background-image: url(http://images.orkut.com/orkut/photos/OQAAAGjCh1OQksKX_V4niIaFuum9FRJ9HjZKVtc1xqYsFaKScS7UwxO-GQFkPj9abVyJSEGOdNX_f8zghkVhmrgy8j0Am1T1UGyNbVn476HmInjGG81NZnrR_z5a.jpg) !important;
    background-color: transparent !important;
}

#quickbar_inner .left,
#quickbar_inner .right {
    width: 1px!important;
}


/*fim - premium*/

#inner-border {
    border: solid 1px #555!important;
}

div.vis {
    border: 1px solid #000000!important;
    border-radius: 10px!important;
    box-shadow: 1px 1px 20px #000!important;
}

#content_value th {
    background-color: #333!important;
}

#inline_popup_main {
    border: solid 1px #555!important;
    background: #333!important;
}

#inline_popup {
    border: solid 1px #444!important;
}

.forum {
    background: #3f1f09 !important;
    /*Background zakładek */
    border: 1px solid #8c5f0d !important
}

#forum_box {
    background: #000!important;
}

.thread_button span {
    color: black!important;
}


/*   -- Everything below is added by jonardkid --  */


/*--Popup Box / Quests - Fix Incomplete--*/

table#popup_box table {
    background: #111111!important;
}

td.popup_box_content {
    background: #111111!important;
}

td.popup_box_content table {
    background: #202020!important;
}

td.popup_box_content table tbody {
    background: #202020!important;
}

td.popup_box_content table tbody tr td.quest-summary {
    background: #252525!important;
}


/*--Tooltips Fix--*/

div#tooltip {
    background: #111111!important;
}


/*--Spoiler Fix--*/

div.spoiler div {
    background: #202020!important;
}


/*--Forum Fix--*/

td.quote_message {
    background: #111111!important;
    /*Quote*/
}

div#forum_box table {
    background: #111111 !important;
    color: #656565 !important;
}

div#forum_box a {
    color: #FFA500 !important;
}

.shared_forum {
    background: #000 !important;
    /*Background zakładek shared*/
    border: 1px solid #FF8C00 !important
}

.shared_forum shared_selected {
    background: #000 !important;
}

td.small {
    color: #7f7f7f !important;
}

div.containerBorder table {
    background: #202020 !important;
}


/*--Map Fix--*/

div#worldmap div#worldmap_header div {
    background: #111111 !important;
}

div#worldmap div#worldmap_footer {
    background: #111111 !important;
}

td#quickbar_contents {
    background: #111111 !important;
}

div.forum-content {
    background: #2d2d2b !important;
}

div.chat-window {
    border: 1px solid #444 !important
}

div.chat-header {
    background: #2d2d2b !important;
}

div.chat-body {
    background: #111111 !important;
    border: 1px solid #444 !important
}

div.chat-message {
    background: #2d2d2b !important;
    border: 1px solid #444 !important
}

div.chat-row:hover {
    background: #2d2d2b !important;
}

input.chat-input {
    background-color: #111111 !important;
    color: #d5d5d5 !important
}

textarea.chat-input {
    background-color: #111111 !important;
    color: #d5d5d5 !important
}

div.chat-footer {
    background-color: #111111 !important
}

a.world_button_active {
    background: #111111 !important
}


/* Ikonki do wiadomości */

img[src*="new_mail.png"] {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/2H2wz8H.png)
}

img[src*="read_mail.png"] {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/nTQAsIY.png)
}

img[src*="answered_mail.png"] {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/toALcPs.png)
}

textarea#message {
    background-color: #111111 !important;
    color: #d5d5d5 !important;
    border: 1px solid #444 !important
}


/* Podmiana ikonek na forum */

td img[src*="thread_closed_unread.png"] {
    object-position: -99999px 99999px !important;
    background-image: url(https://i.imgur.com/xfGiIjm.png) !important;
}

td img[src*="thread_closed.png"] {
    object-position: -99999px 99999px !important;
    background-image: url(https://i.imgur.com/dzdxv2v.png) !important;
}

td img[src*="thread_read.png"] {
    object-position: -99999px 99999px !important;
    background-image: url(https://i.imgur.com/3pTXZ2A.png) !important;
}

td img[src*="thread_unread.png"] {
    object-position: -99999px 99999px !important;
    background-image: url(https://i.imgur.com/Iz8KZeA.png) !important;
}

td.quote_message {
    background: #111111!important;
    /*Quote*/
}

.shared_forum {
    background: #150a03 !important;
    /*Background zakładek shared*/
    border: 1px solid #8c5f0d !important
}

.village-note {
    background-color: #222;
    color: white;
}

.content {
    background-color: #555 !important;
}

.res {
    color: #7CFC00 !important;
}

#storage {
    color: #1E90FF !important;
}

.warn {
    color: #FF0000 !important;
}

.warn_90 {
    color: #FFFF00 !important;
}

.popup_box show {
    background-color: yellow;
}

#side-notification side-notification-visible {
    background-color: transparent !important;
}

#plunder_list_filters {
    background-color: #555 !important;
    /*Asystent farmera - opcje*/
}

div#show_summary {
    filter: brightness(90%)
}


/* Popup od wysyłania ataków/wsparcia z mapy */

div#popup_box_popup_command {
    border: 18px solid #804000;
    border-image: url(https://i.imgur.com/kE3KRk2.png) 19 19 19 19 repeat !important;
}

div#popup_box_popup_command .popup_box_content {
    background-image: url(https://i.imgur.com/hNuaTe0.png) !important;
}

div.village-item.read-only {
    background-color: #111;
}

div.village-item.read-only:hover {
    background-color: #111 !important;
}

div.village-item.read-only span strong {
    color: wheat;
}

div#place_target {
    border: 1px solid #FF8C00 !important;
}


/* Popup z nową wiadomścią */

div.side-notification {
    background: url(https://i.imgur.com/hNuaTe0.png) !important;
    border-left: 1px solid #FF8C00 !important;
    border-top: 1px solid #FF8C00 !important;
}

div.side-notification .img-container img {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/n7d0QlZ.png);
}

div.side-notification .content {
    background: none !important;
}


/* Stopka */

div#footer {
    background: url(https://i.imgur.com/hNuaTe0.png) !important;
}

div#servers-list-block {
    background: url(https://i.imgur.com/a0okh2Z.png) repeat-y !important;
}

div.servers-list-top {
    background: url(https://i.imgur.com/NEB1Zkc.png) no-repeat -800px -39px;
}

div.servers-list-bottom {
    background: url(servers-list-bottom) no-repeat -800px -49px;
}

span.world_button_active {
    background: url(https://i.imgur.com/SX1IBUW.png) no-repeat 0 0;
}

span.world_button_active:hover {
    background: url(https://i.imgur.com/SX1IBUW.png) no-repeat 0 -22px !important;
}


/* Minus u polus zmiana globalna */

*[src="graphic/minus.png"] {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/HZZUbKG.png)
}

*[src="graphic/plus.png"] {
    object-position: -99999px 99999px;
    background-image: url(https://i.imgur.com/6natCFl.png)
}


/* Podgląd raportu */

div.report-preview {
    border-image: url(https://i.imgur.com/ID7shnU.png) 9 9 9 9 repeat;
}

div.report-preview-content {
    background: #111;
}

table#attack_spy_buildings_left,
table#attack_spy_buildings_right {
    background: #111 !important;
}

table.am_overview_village_section>tbody tr td {
    background-color: #111 !important;
}

tr.lit td.lit-item {
    background-color: #444 !important;
}

td.cost_iron.warn {
    color: #FF0000 !important;
}

td.cost_stone.warn {
    color: #FF0000 !important;
}

td.cost_wood.warn {
    color: #FF0000 !important;
}


/* Ekran powitalny */

div#welcome-back{
    background: #111 !important;
}

li.list-item.a{
    background-color: #111 !important;
}

li.list-item.b{
    background-color: #222 !important;
}

div#news{
    background-color: #111;;
}

div#welcome-page h4{
    background-color: #2d2d2b  !important;
    background-image: none;
}

div#chartdiv canvas{
    filter: brightness(30%);
}

ul.widget-tabs{
    background-color: #111;
}

ul.widget-tabs li a{
    background-color: #444444;
} 

ul.widget-tabs li a.selected{
    background-color: #777777 !important;
} 

ul.widget-tabs li a:hover{
    background-color: #777777 !important;
} 


div.widget-content{
    background: #111;
}
div.widget-content>div{
background: #111 !important;
}


/* Odznaczenia */
div.award-group-content{
    background-image: url(https://i.imgur.com/iiVeLr6.jpg) !important;
}

div.award-group-head{
    background-image: url(https://i.imgur.com/UnJl1BB.jpg) !important;

}


div.award-group-foot{
    background-image: url(https://i.imgur.com/Dn5MEOS.jpg) !important;

}

div.award-group hr{
    background-image: url(https://i.imgur.com/JHJ4pGy.jpg) !important;

}

img.award-img, div.award img {
    filter: brightness(30%);
}